#container1 div {
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: #F0C419;

    float: left;
}

#container2 {
    height: 100px;
    margin: 20px;
    background-color: #ED7161;

    clear: left;
}